@model TiengInClassWebApp.Models.JobApplication

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.jobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hiringCompany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hiringCompany)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.jobLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.jobLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.applicationSubmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.applicationSubmissionDate)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.applicationNotes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="jobRequisitionNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
